<script>
  console.log({{ section.settings.first-image | json }});
</script>

<div class="sponsor-slider-wrapper">
  <div class="sponsor-slider slide-1">
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.first-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.second-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.third-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.fourth-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.fifth-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.sixth-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.seventh-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.eighth-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.ninth-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.tenth-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.eleventh-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.twelvth-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.thirteenth-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.fourteenth-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.fifteenth-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.sixteenth-image | image_url }}" alt="img">
      </a>
    </div>
  </div>
  <!-- Write the sponsor-slider twice to make it repeat smoothly -->
  <div class="sponsor-slider slide-2">
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.first-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.second-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.third-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.fourth-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.fifth-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.sixth-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.seventh-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.eighth-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.ninth-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.tenth-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.eleventh-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.twelvth-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.thirteenth-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.fourteenth-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.fifteenth-image | image_url }}" alt="img">
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="{{ section.settings.sixteenth-image | image_url }}" alt="img">
      </a>
    </div>
  </div>
</div>

{% style %}
  .sponsor-slider-wrapper{
    width: 100%;

    overflow: hidden;
    position: relative;
    height: 100px;
    margin: 0 auto;
  }

  @keyframes slide {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
  }
  @keyframes slide-2 {
    0% {transform: translateX(100%);}
    100% {transform: translateX(0);}
  }

  .sponsor-slider{
    width: auto;
    position: absolute;
    white-space: nowrap;

  }
  .sponsor-slider .item{
    display: inline-block;
    width: 200px;
    height: 100px;
    margin-left: -4px;
  }
  .sponsor-slider .item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .slide-1{
    animation: slide 20000ms infinite linear;
  }
  .slide-2{
    animation: slide-2 200000ms infinite linear;
  }
{% endstyle %}

{% schema %}
{
  "name": "Logo Slider",
  "class": "logo-list-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Logo list"
    },
     {
        "type": "image_picker",
          "id": "first-image",
          "label": "Image 1",
          "info": "400 x 300px recommended"
        },
     {
        "type": "image_picker",
          "id": "second-image",
          "label": "Image 2",
          "info": "400 x 300px recommended"
        },
         {
        "type": "image_picker",
          "id": "third-image",
          "label": "Image 3",
          "info": "400 x 300px recommended"
        },
         {
        "type": "image_picker",
          "id": "fourth-image",
          "label": "Image 4",
          "info": "400 x 300px recommended"
        },
         {
        "type": "image_picker",
          "id": "fifth-image",
          "label": "Image 5",
          "info": "400 x 300px recommended"
        },
         {
        "type": "image_picker",
          "id": "sixth-image",
          "label": "Image 6",
          "info": "400 x 300px recommended"
        },
             {
        "type": "image_picker",
          "id": "seventh-image",
          "label": "Image 7",
          "info": "400 x 300px recommended"
        },
             {
        "type": "image_picker",
          "id": "eighth-image",
          "label": "Image 8",
          "info": "400 x 300px recommended"
        },
             {
        "type": "image_picker",
          "id": "ninth-image",
          "label": "Image 9",
          "info": "400 x 300px recommended"
        },
             {
        "type": "image_picker",
          "id": "tenth-image",
          "label": "Image 10",
          "info": "400 x 300px recommended"
        },
             {
        "type": "image_picker",
          "id": "eleventh-image",
          "label": "Image 11",
          "info": "400 x 300px recommended"
        },
             {
        "type": "image_picker",
          "id": "twelvth-image",
          "label": "Image 12",
          "info": "400 x 300px recommended"
        },
               {
        "type": "image_picker",
          "id": "thirteenth-image",
          "label": "Image 12",
          "info": "400 x 300px recommended"
        },
               {
        "type": "image_picker",
          "id": "fourteenth-image",
          "label": "Image 12",
          "info": "400 x 300px recommended"
        },
               {
        "type": "image_picker",
          "id": "fifteenth-image",
          "label": "Image 12",
          "info": "400 x 300px recommended"
        },
     {
        "type": "image_picker",
          "id": "sixteenth-image",
          "label": "Image 12",
          "info": "400 x 300px recommended"
        }
  ],
  "presets": [
    {
      "name": "Logo Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}
