{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div
  class="page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
  {% if settings.animations_reveal_on_scroll %}
    data-cascade
  {% endif %}
>
  {%- unless section.settings.title == blank -%}
    <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
      <h2 class="title inline-richtext {{ section.settings.heading_size }}">
        {{ section.settings.title }}
      </h2>
      {%- if section.settings.button_label != blank and show_mobile_slider -%}
        <a href="{{ section.settings.button_link }}" class="link underlined-link large-up-hide">
          {{- section.settings.button_label | escape -}}
        </a>
      {%- endif -%}
    </div>
  {%- endunless -%}
</div>

<div class="sponsor-slider-wrapper">
  <div class="sponsor-slider slide-1">
    <div class="item">
      <img src="{{ section.settings.first-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.second-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.third-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.fourth-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.fifth-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.sixth-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.seventh-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.eighth-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.ninth-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.tenth-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.eleventh-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.twelvth-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.thirteenth-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.fourteenth-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.fifteenth-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.sixteenth-image | image_url }}" alt="img">
    </div>
  </div>
  <!-- Write the sponsor-slider twice to make it repeat smoothly -->
  <div class="sponsor-slider slide-2">
    <div class="item">
      <img src="{{ section.settings.first-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.second-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.third-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.fourth-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.fifth-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.sixth-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.seventh-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.eighth-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.ninth-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.tenth-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.eleventh-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.twelvth-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.thirteenth-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.fourteenth-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.fifteenth-image | image_url }}" alt="img">
    </div>
    <div class="item">
      <img src="{{ section.settings.sixteenth-image | image_url }}" alt="img">
    </div>
  </div>
</div>

{% style %}
  .sponsor-slider-wrapper{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 150px;
    margin: 0 auto;
    padding: 4rem 0;
  }

  @keyframes slide {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
  }
  @keyframes slide-2 {
    0% {transform: translateX(100%);}
    100% {transform: translateX(0);}
  }

  .sponsor-slider{
    width: auto;
    position: absolute;
    white-space: nowrap;

  }
  .sponsor-slider .item{
    display: inline-block;
    width: 200px;
    height: 100px;
    margin-left: 30px;
  }
  .sponsor-slider .item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .slide-1{
    animation: slide 30s infinite linear;
  }
  .slide-2{
    animation: slide-2 30s infinite linear;
  }

  .slide-1:hover{
    animation: none;
  }

  .slide-2:hover{
    animation: none;
  }
{% endstyle %}

{% schema %}
{
  "name": "Logo Slider",
  "class": "logo-list-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Logo list"
    },
     {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
     {
        "type": "image_picker",
          "id": "first-image",
          "label": "Image 1",
          "info": "400 x 300px recommended"
        },
     {
        "type": "image_picker",
          "id": "second-image",
          "label": "Image 2",
          "info": "400 x 300px recommended"
        },
         {
        "type": "image_picker",
          "id": "third-image",
          "label": "Image 3",
          "info": "400 x 300px recommended"
        },
         {
        "type": "image_picker",
          "id": "fourth-image",
          "label": "Image 4",
          "info": "400 x 300px recommended"
        },
         {
        "type": "image_picker",
          "id": "fifth-image",
          "label": "Image 5",
          "info": "400 x 300px recommended"
        },
         {
        "type": "image_picker",
          "id": "sixth-image",
          "label": "Image 6",
          "info": "400 x 300px recommended"
        },
             {
        "type": "image_picker",
          "id": "seventh-image",
          "label": "Image 7",
          "info": "400 x 300px recommended"
        },
             {
        "type": "image_picker",
          "id": "eighth-image",
          "label": "Image 8",
          "info": "400 x 300px recommended"
        },
             {
        "type": "image_picker",
          "id": "ninth-image",
          "label": "Image 9",
          "info": "400 x 300px recommended"
        },
             {
        "type": "image_picker",
          "id": "tenth-image",
          "label": "Image 10",
          "info": "400 x 300px recommended"
        },
             {
        "type": "image_picker",
          "id": "eleventh-image",
          "label": "Image 11",
          "info": "400 x 300px recommended"
        },
             {
        "type": "image_picker",
          "id": "twelvth-image",
          "label": "Image 12",
          "info": "400 x 300px recommended"
        },
               {
        "type": "image_picker",
          "id": "thirteenth-image",
          "label": "Image 12",
          "info": "400 x 300px recommended"
        },
               {
        "type": "image_picker",
          "id": "fourteenth-image",
          "label": "Image 12",
          "info": "400 x 300px recommended"
        },
               {
        "type": "image_picker",
          "id": "fifteenth-image",
          "label": "Image 12",
          "info": "400 x 300px recommended"
        },
     {
        "type": "image_picker",
          "id": "sixteenth-image",
          "label": "Image 12",
          "info": "400 x 300px recommended"
        },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Logo Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}
