{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div
  class="page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
  {% if settings.animations_reveal_on_scroll %}
    data-cascade
  {% endif %}
>
  {%- unless section.settings.title == blank -%}
    <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
      <h2 class="title inline-richtext {{ section.settings.heading_size }}">
        {{ section.settings.title }}
      </h2>
      {%- if section.settings.button_label != blank and show_mobile_slider -%}
        <a href="{{ section.settings.button_link }}" class="link underlined-link large-up-hide">
          {{- section.settings.button_label | escape -}}
        </a>
      {%- endif -%}
    </div>
  {%- endunless -%}
</div>

{%- if section.blocks.size > 0 -%}
  {%- for block in section.blocks -%}
    <blockquote>
      {%- if block.settings.quote != blank -%}
        <p>
          {{ block.settings.quote }}
        </p>
      {%- endif -%}
    </blockquote>

    {%- if block.settings.author != blank -%}
      <cite>
        <a href="{{ block.settings.link }}">
          {{ block.settings.author }}
        </a>
      </cite>
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

<section role="complementary" class="section simple white-back quotes no-fouc">
  <blockquote>
    <p>
      <strong>to cite (verb)</strong>: to acknowledge (give credit to) the original author or artist by providing a
      reference.
    </p>
    <cite
      >Someone Said<br>
      <a href="#">Said it Here</a></cite
    >
  </blockquote>
  <blockquote>
    <p>
      <strong>citation (noun)</strong>: a properly formatted line of text that indicates the source for a quote, idea,
      fact etc. that you use.
    </p>
    <cite
      >Someone Said<br>
      <a href="#">Said it Here</a></cite
    >
  </blockquote>
  <blockquote>
    <p>If you are repeating a section of the article for emphasis, use an aside element.</p>
    <cite
      >Someone Said<br>
      <a href="#">Said it Here</a></cite
    >
  </blockquote>
  <blockquote>
    <p>A blockquote element cannot be inside a paragraph, and since HTML4 actually needs to contain paragraphs.</p>
    <cite
      >Someone Said<br>
      <a href="#">Said it Here</a></cite
    >
  </blockquote>
  <blockquote>
    <p>
      <strong>to cite (verb)</strong>: to acknowledge (give credit to) the original author or artist by providing a
      reference.
    </p>
    <cite
      >Someone Said<br>
      <a href="#">Said it Here</a></cite
    >
  </blockquote>
  <blockquote>
    <p>
      <strong>citation (noun)</strong>: a properly formatted line of text that indicates the source for a quote, idea,
      fact etc. that you use.
    </p>
    <cite
      >Someone Said<br>
      <a href="#">Said it Here</a></cite
    >
  </blockquote>
  <blockquote>
    <p>If you are repeating a section of the article for emphasis, use an aside element.</p>
    <cite
      >Someone Said<br>
      <a href="#">Said it Here</a></cite
    >
  </blockquote>
  <blockquote>
    <p>A blockquote element cannot be inside a paragraph, and since HTML4 actually needs to contain paragraphs.</p>
    <cite
      >Someone Said<br>
      <a href="#">Said it Here</a></cite
    >
  </blockquote>
</section>

{% stylesheet %}
  .section {
  	width: 60%;
  	margin: 70px auto;
  }

  .white-back{
  	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  	background: #fff;
  }
  .simple blockquote p {
  	border-top: 1px solid #ccc;
  	border-bottom: 1px solid #ccc;
  	color: #1e528e;
  	padding: 25px;
  	font-size: 1.25em;
  	font-style: italic;
  	text-align: center;
  }
  .simple cite {
  	font-size: 1em;
  	float: right;
  	font-style: normal;
  	color: #1e528e;
  }
  .simple cite a {
  	color: #2d91c2;
  	font-style: italic;
  	text-decoration: none;
  	font-size:.85em;
  }
  .simple cite a:hover {
  	color: #00B4CC;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "Testimonial Slider",
  "class": "testimonial-section",
  "max_blocks": 8,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Testimonials"
    },
     {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
   "blocks": [
    {
      "type": "quote",
      "name": "Testimonial",
      "settings": [
        {
          "type": "richtext",
          "id": "quote",
          "label": "Text",
          "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "Author’s name"
        },
        {
    "type": "url",
          "id": "link",
          "label": "link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonial Slider",
      "category": "Text",
       "blocks": [
        {
          "type": "quote"
        },
        {
          "type": "quote"
        },
        {
          "type": "quote"
        }
      ]
    }
  ]
}
{% endschema %}
