<section class="top-menu">
  <div class="first-option">
    <a href="{{ section.settings.first-url }}">
      <p class="first-option--text">{{ section.settings['first-text'] }}</p>
    </a>
  </div>

  <div class="second-option">
    <a href="{{ section.settings.second-url }}">
      <p class="second-option--text">{{ section.settings['second-text'] }}</p>
    </a>
  </div>
</section>

{% style %}
  .top-menu {
    display: flex;
    justify-content: end;
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    gap: 1rem;
  }

  .first-option {
    display: flex;

  }

  @media screen and (max-width: 767px) {
    .top-menu {
      display: none;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Top Menu",
  "class": "top-menu",
  "settings": [
    {
      "type": "text",
      "id": "first-text",
      "label": "First Text",
      "placeholder": "First Test Placeholder",
      "default": "First Test Default"
    },
    {
      "type": "url",
      "id": "first-url",
      "label": "First URL"
    },
    {
      "type": "text",
      "id": "second-text",
      "label": "Second Text",
      "placeholder": "Second Text Placeholder",
      "default": "Second Test Default"
    },
    {
      "type": "url",
      "id": "second-url",
      "label": "Second URL"
    },
        {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "Top Menu Banner",
      "category": "Banners",
      "settings": {

      }
    }
  ]
}
{% endschema %}
